@import "tailwindcss";

@theme {
  --dark-grey-1: oklch(24.354% 0.00003 271.152);
  --dark-grey-2: oklch(29.716% 0.00003 271.152);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* h2 {
  font-size: 1.2rem;
  font-weight: bold;
} */

.card {
  padding: 2em;
}
