@import "tailwindcss";

@theme {
  --light-grey: oklch(88.224% 0.0001 271.152);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: var(--light-grey);
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card {
  padding: 2em;
}
